*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  background-color: #141010;
}
body{
  font-family: montserrat;
}
nav{
  background: #141010;
  height: 80px;
  width: 100%;    
}
label.logo{
  color: #BFBFBF;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: #BFBFBF;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #2e2c2e;
  color: crimson;
  transition: .5s;
}
.wrapper{
  background: url("Image4.jpg");
  width: 100%;
  height: 500px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
position: absolute;
margin: auto;
top: 0;
left: 0;
right: 0;
bottom: 0;
width: 300px;
height: 100px;
background: transparent;
.search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background: crimson;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 25px 0 crimson;
  &:hover {
    cursor: pointer;
  }
  &::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 22px;
    right: 0;
    bottom: 0;
    left: 22px;
    width: 12px;
    height: 2px;
    background: white;
    transform: rotate(45deg);
    transition: all .5s;
  }
  &::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;
    transition: all .5s;
  }
}
input {
  font-family: 'Inconsolata', monospace;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: crimson;
  color: white;
  text-shadow: 0 0 10px crimson;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 crimson,
              0 20px 25px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5);
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    width: 300px;
    opacity: 1;
    cursor: text;
  }
  &:focus ~ .search {
    right: -250px;
    background: #151515;
    z-index: 6;
    &::before {
      top: 0;
      left: 0;
      width: 25px;
    }
    &::after {
      top: 0;
      left: 0;
      width: 25px;
      height: 2px;
      border: none;
      background: white;
      border-radius: 0%;
      transform: rotate(-45deg);
    }
  }
  &::placeholder {
    color: white;
    opacity: 0.5;
    font-weight: bolder;
  }
}
}
.wrapper p{
  color: #BFBFBF;
  font-size: 60px;
  background: transparent;
  font-weight: 420;
}

.container_info{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}

.box {
  flex: 1;
  margin: 5px; 
  padding: 20px;
  background-color: #ffffffe3; 
  text-align: center;
  border-radius: 16px;
}
p{
  font-size: 35px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.box h3{
  background-color: transparent;
  display: flex;
  justify-content: center;
}
.box img{
  background: transparent;
  width: 100px;
  height: 100px;
}
.box p{
  background: transparent;
  color: #000000;
  font-size: 20px;
  margin: 30px;
}
.box button{
  background: transparent;
  border-radius: 20px;
  width: 140px;
  height: 50px;
  color: crimson;
  background: transparent;
  border: 2px solid crimson;
  font-size: 15px;
  font-weight: bold;
}
.box button:hover{
  background-color: crimson;
  color: white;
}
.box a{
  background: transparent;
}
.container_level{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}
.level{
  flex: 1; 
  margin: 5px; 
  padding: 20px;
  background-color: #ffffffe3; 
  text-align: center;
  border-radius: 16px;
}
.level img{
  width: 200px;
  height: 200px;
  background: transparent;
}
.level p{
  background: transparent;
  color: #000000;
}
.level a{
  background: transparent;
}

.info{
  margin: 50px;
  margin-left: 365px;
  width: 50%;
}
.step img{
  margin-top: 30px;
  margin-right: 2%;
}
.step text{
  color: #ffffff;
  font-size: 25px;
}
.step p{
  font-size: 20px;
  margin-left: 5.5%;
}